files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/associate_eip.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      EIP_ALLOCATION_ID="eipalloc-0a3141de40efc714b"

      INSTANCE_ID=$(curl -s http://169.254.169.254/latest/meta-data/instance-id)

      aws ec2 associate-address \
        --instance-id $INSTANCE_ID \
        --allocation-id $EIP_ALLOCATION_ID \
        --region ap-northeast-2

container_commands:
  01_associate_eip:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/post/associate_eip.sh"